.footer {
    /* Footer */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;

    position: absolute;
    height: 200px;
    left: 0px;
    right: 0px;
    top: 4591px;

    /* Neutrals/0 */

    background: #ffffff;
    order: 4;
}

.footer:hover .text {
  transform: scale(1.05);
  cursor: pointer;
}

.footer:hover .img {
  background: url('/icons/github-active.svg') no-repeat;
  cursor: pointer;
}

.footer a {
  display: flex;
}

.img {
  height: 32px;
  width: 32px;
  background: url('/icons/github-default.svg') no-repeat;
  display: inline-block;
}

.text {
    /* Default link */
    position: static;

    /* Desktop/Text/L1/Default| */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    text-align: right;

    /* Neutrals/600 */
    color: #7c899c;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}
