.container {
  padding-top: 201px;
  background-color: #ffffff;
}

.main {
  max-width: 1464px;
  min-height: 100vh;
  padding: 0 80px;
}
/* 
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
} */

.wavesContainer {
  width: 1920px;
  height: 1364px;
  background-image: url('/illustrations/single-wave-pattern.svg');
  background-repeat: revert;
}

.illustrationBg {
  /* Illustration BG */
  position: absolute;
  width: 722px;
  height: 600px;
  left: 970px;
  top: 240px;

  /* Specials/Section BG (50% opacity) */
  background: linear-gradient(102.47deg, rgba(23, 111, 235, 0.5) -5.34%, rgba(255, 128, 255, 0.5) 106.58%);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 104px;
}

.heroIllustration {
  width: 897px;
  height: 820px;
  position: absolute;
  left: -12%;
  bottom: 0%;
}

.landingCopyContainer {
  position: absolute;
  top: 240px;
  left: 228px;
  width: 602px;
  height: 577px;
}

.text {
  /* EXPLORE THE */
  position: static;
  width: 174px;
  height: 27px;
  left: 0;
  top: 0;

  /* Desktop/Text/L1/All Caps - 24% LS */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: 0.24em;
  text-transform: uppercase;

  /* Neutrals/600 */

  color: #7C899C;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}

.L1Default {
  /* TECH zone */
  position: static;
  width: 602px;
  height: 320px;
  left: 0px;
  top: 35px;

  /* Desktop/Headings/L1/Default */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 80%;
  /* or 160px */

  text-transform: uppercase;

  /* Brand/Default */

  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

.textL1Default {
  /* Here you’ll be able to exchange all of your hard-earned Aeropoints and exchange them for cool tech. */


  position: static;
  width: 523px;
  height: 54px;
  left: 0px;
  top: 379px;

  /* Desktop/Text/L1/Default| */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */


  /* Neutrals/600 */

  color: #7C899C;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}

.mainCTA {
  /* Main CTA/Inactive/Desktop */
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  width: 318px;
  height: 80px;
  left: 0px;
  top: 497px;

  /* Brand/Default */

  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  /* Elevation 1/Default */

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  border: none;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 64px 0px;
}

.viewProductsCTAText {
  /* VIEW PRODUCTS */
  position: static;
  width: 202px;
  height: 27px;
  left: 40px;
  top: 26.5px;

  /* Desktop/Text/L1/Default| */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  text-align: center;

  /* Neutrals/0 */

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.arrowIcon {
  /* Vector */
  height: 27px;
}
/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
