/* Nav bar */

/* Auto layout */
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    width: 1464px;

    position: absolute;
    height: 128px;
    left: 228px;
    right: 228px;
    top: 0px;
    z-index: 2;
    background: #ffffff;
}

.aeroPayDropDownBtn {
    /* AeroCoins */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;

    position: static;
    width: 172px;
    height: 48px;
    left: 1292px;
    top: 40px;

    /* Neutrals/0 */
    background: #ffffff;
    /* Neutrals/300 */
    border: 1px solid #dae4f2;
    box-sizing: border-box;
    /* Elevation 1/Hover & active */

    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
    transition: all 0.2s ease;
}

.aeroPayDropDownBtn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.aeroLabIcon {
    /* Icons */
    position: static;
    left: 0%;
    right: 61.9%;
    top: 0%;
    bottom: 0%;

    /* Brand/Default */
    background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
    border-radius: 40px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.coinAmount {
    /* Coin Amount */
    position: static;
    width: 60px;
    height: 27px;
    left: 40px;
    top: 2.5px;

    /* Desktop/Text/L1/Default| */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    /* Brand/Default */
    background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.dropDownArrow {
    /* Neutrals/500 */
    transform: rotate(-90deg);
    display: flex;
    order: 2;
}

/* --- AEROPAY module --- */

.aeropayModule {
    position: absolute;
    width: 312px;
    height: 404px;
    right: 208px;
    top: 96px;

    background: #ffffff;
    /* Elevation 1/Hover & active */

    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    z-index: 3;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px;

    position: absolute;
    height: 59px;
    left: 0px;
    right: 0px;
    top: 0px;

    /* Neutrals/300 */

    border: 1px solid #dae4f2;
    box-sizing: border-box;
    border-radius: 16px 16px 0px 0px;
}

.titleAndIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 264px;
    height: 27px;
    left: 24px;
    top: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.title {
    /* Add Balance */
    position: static;
    width: 195px;
    height: 27px;
    left: 0px;
    top: 0px;

    /* Desktop/Text/L1/Default| */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    /* Neutrals/900 */

    color: #252f3d;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.icon {
    /* Icons */

    position: static;
    width: 24px;
    height: 24px;
    left: 240px;
    top: 1.5px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    background-image: url("/icons/cross-default.svg");
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;

    position: absolute;
    left: 0px;
    right: 0px;
    top: 58px;
    bottom: 0px;

    /* Neutrals/300 */

    border: 1px solid #dae4f2;
    box-sizing: border-box;
    border-radius: 0px 0px 16px 16px;
}

/* --- Aerocard --- */

.aerocard {
    position: static;
    width: 264px;
    height: 148px;
    left: 0px;
    top: 0px;

    /* Elevation 1/Default */

    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.05));

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 40px 0px;
}

.cardBg {
    position: absolute;
    height: 148px;
    left: 0px;
    right: 0px;
    top: 0px;

    /* Neutrals/900 */

    background: #252f3d;
    /* Elevation 1/Default */

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow-y: clip;
}

.wavePatternMask {
    position: absolute;
    width: 264px;
    height: 148px;
    top: 60px;
    background-image: url(/illustrations/path.svg);
    transform: rotate(-4.26deg);
}

.nameAndIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: absolute;
    height: 27px;
    left: 16px;
    right: 16px;
    top: 16px;
}

.cardName {
    /* Aerocard */
    position: static;
    width: 85px;
    height: 27px;
    left: 0px;
    top: 0px;

    /* Desktop/Text/L1/Default| */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    /* Neutrals/100 */

    color: #f5f9ff;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardIcon {
    position: static;
    left: 89.66%;
    right: 0%;
    top: 5.56%;
    bottom: 5.56%;

    /* Neutrals/100 */

    background: #f5f9ff;
    border-radius: 40px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 115px;
}

.nameAndDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: absolute;
    height: 21px;
    left: 16px;
    right: 16px;
    top: 111px;
}

.userName {
    /* Desktop/Text/L2/Default */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    /* Neutrals/100 */

    color: #f5f9ff;
}

.cardDate {

    /* Desktop/Text/L2/Default */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    text-align: right;

    /* Neutrals/100 */

    color: #f5f9ff;
}

/* --- Amount and CTA --- */

.amountAndCTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 264px;
    height: 110px;
    left: 0px;
    top: 188px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 40px 0px;
}

.amounts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 264px;
    height: 35px;
    left: 0px;
    top: 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;

    position: static;
    width: 85.33px;
    height: 35px;
    left: 0px;
    top: 0px;

    background: #e6f0ff;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.selectors:nth-of-type(2) {
    margin: 0 4px;
}

.selectorsText {
    position: static;

    /* Desktop/Text/L1/Default| */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    /* Brand/Default */

    background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.CTA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;

    position: static;
    width: 264px;
    height: 51px;
    left: 0px;
    top: 59px;

    /* Brand/Default */

    background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
    /* Elevation 1/Default */

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}

.CTAIcon {
    /* Icons */

    position: static;
    left: 0%;
    right: 82.09%;
    top: 5.56%;
    bottom: 5.56%;

    /* Neutrals/0 */

    background: #ffffff;
    border-radius: 40px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.CTAText {
    /* Add Points */
    position: static;
    width: 102px;
    height: 27px;
    left: 32px;
    top: 0px;

    /* Desktop/Text/L1/Default| */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */

    /* Neutrals/0 */

    color: #ffffff;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}
