.cardsBG {
    /* Walkthough cards BG */
    position: absolute;
    height: 528px;
    width: 1920px;
    left: 0px;
    right: 0px;
    top: 1070px;

    /* Specials/Section BG (50% opacity) */
    background: linear-gradient(
        102.47deg,
        rgba(23, 111, 235, 0.5) -5.34%,
        rgba(255, 128, 255, 0.5) 106.58%
    );
}

.cardsContainer {
    position: absolute;
    top: 952px;
    display: flex;
    justify-content: center;
}

.introCard {
    /* Intro card */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;

    position: absolute;
    width: 532px;
    height: 676px;

    background: #ffffff;
    /* Neutrals/300 */

    border: 1px solid #dae4f2;
    box-sizing: border-box;
    /* Elevation 2/Default */

    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.05);
    border-radius: 32px;
}

#card1 {
    transform: rotate(-3deg);
    left: 228px;
    top: 30px;
}

#card2 {
    left: 694.32px;
}

#card3 {
    left: 1125px;
    top: 30px;
    transform: rotate(3deg);
    z-index: 2;
}

.cardsIllustration {
    /* Saly-1 */
    position: absolute;
    height: 498px;
}

.illustrationsBG {
    /* Illustration BG */
    height: 498px;
    width: 508px;

    /* Specials/Illustration Background */

    background: linear-gradient(
        102.47deg,
        #7296eb -5.34%,
        #eac0e9 106.58%,
        #eac0e9 106.58%
    );
    /* Neutrals/300 */

    border: 1px solid #dae4f2;
    box-sizing: border-box;
    border-radius: 24px 24px 0px 0px;
}

.bottomCard {
    /* Bottom card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 24px 24px;

    position: static;
    width: 508px;
    height: 154px;
    left: calc(50% - 508px / 2 + 8.67px);
    top: 509.93px;

    background: #ffffff;
    /* Neutrals/300 */

    border: 1px solid #dae4f2;
    box-sizing: border-box;
    border-radius: 0px 0px 24px 24px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    z-index: 1;
}

.titleAndIcon {
    /* Title & icon */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
    width: 265px;
    height: 48px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0px;
}

.iconWrapper {
    /* Icon wrapper */
    /* Auto layout */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;

    /* Brand/Light */
    background: #e5f0ff;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}

.cardIcon {
    /* Vector */

    height: 32.5px;
}

.cardTitle {
    /* Title */
    position: static;
    width: 201px;
    height: 32px;
    left: 64px;
    top: 8px;

    /* Desktop/Headings/L3/Default */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 32px */
    text-transform: uppercase;

    /* Brand/Default */
    background: linear-gradient(102.47deg, #176feb -5.34%, #ff80ff 106.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
}

.cardParagraph {
    /* Card paragraph */
    position: static;
    width: 372px;
    height: 54px;
    left: 27.94px;
    top: 101.23px;

    /* Desktop/Text/L1/Default| */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */

    /* Neutrals/600 */
    color: #7c899c;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0px;
}
